@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*font-family: 'Bebas Neue', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/*font-family: 'Poppins', sans-serif;*/

@font-face {
    font-family: 'Android';
    src: url('font/IDroid.otf') format('opentype'), url('font/IDroid\ Bold.otf') format('opentype'), url('font/IDroid\ Bold\ Italic.otf') format('opentype'), url('font/IDroid\ Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    /*font-family:'Android',sans-serif;*/
}
:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    --font-padrao: 'Poppins', sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android',sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

a.externo::after{
    content: '\00a0\1f517';
}


header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
}

header > h1{
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.505);
    

}
header > p{
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.505);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.407);    
}

nav a{
    color: var(--cor0);
    padding: 15px;
    text-decoration: none;
}
nav a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}

main{
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    min-width: 280px;
    max-width: 800px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.504);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

main img{
    width: 100%;
}

.pequena{
    display: block;
    max-width: 350px;
    margin: auto;
}

.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main h1{
    color: var(--cor5);
    font-family: var(--font-destaque);
    font-size: 2em;
    font-weight: normal;
}
main h2{
    font-family: var(--font-android);
    font-weight: normal;
    color: var(--cor5);
    padding-bottom: 15px;
    border-bottom: 2px solid var(--cor3);
    
}

main p {
    line-height: 2em;
    font-size: 1em;
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
}

main strong{
    color: var(--cor4);
} 

main a{
    text-decoration: none;
    color: var(--cor3);
}
main a:hover{
    text-decoration: underline;
}

aside{
    background-color: var(--cor1);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(128, 128, 128, 0.498);
}

aside h3{
    padding: 10px;
    margin: -10px -10px 0px -10px;
    background-color: var(--cor4);
    border-radius: 15px 15px 0px 0px;
    color: white;
    font-family: var(--font-android);
    font-weight: normal;
   
}



aside ul{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    
}

aside a{
    color: var(--cor4);
}

footer{
    padding: 30px;
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
}

footer > p > a{
    color: var(--cor1);
    font-weight: bolder;
    text-decoration: none;
}
footer > p > a:hover{
    text-decoration: underline;
}